/* ==================
   FOOTER COPYRIGHT
==================== */

.block-copyright{
	width: 100%;
	text-align: center;
	border-top: 1px solid $white;
	max-width: 600px;
	padding-top: 1em;
	p{
		margin:0;
		font-size: 16px;
		color: $white;
		font-family: $header;
	}
}//end footer-copyright