/* =================
   BRANDING BLOCK
=================== */

.block--system-branding{
	a{
		display: block;
		margin-bottom: -6px;
		position: relative;
		top: -6px;
		img{
			display: none;
			width: 100%;
		}
		.site-name {
			font-size: 24px;
			color: $red;
			font-family: $displayHeader;
		}
		&:hover,&:focus{
			text-decoration: none;
			.site-name{
				color: $black;
			}
		}
		@include tab{
			.site-name{
				font-size: 54px;
			}
		}
	}//end logo a

	//tagline / slogan
	.tagline{
		display: none;
	}
}