/* ===============
   SEARCH 	
================= */


/* SEARCH PAGE
------------------ */
.path-site-search{


	//prevent contextual links interference when logged in
	.views-element-container{
		position: static;
	}

	.page-main{
		position: relative;
	}

	.block-search-form-block{
		width: 100%;
	}

	#views-exposed-form-site-search-site-search{
		@include spacer(2);
		@include safeFlex(row,wrap,null,null);
		@include translateX(0);
		height: auto;
		position: static;
		max-width: 100%;
		width: 100%;
		padding: 0;
		&:after{
			content: none;
		}
		.form-item-search-api-fulltext{
			@include safeFlexSize(0,1,280px);
			margin-right: 1em;
			padding: 0;
			label{
				display: none;
			}
			input{
				font-size: 20px;
			}
		}
		.form-actions input{
			margin-bottom: 0;
			padding: .5em 2.25em;
			position: static;
			background: $link;
			width: 132px;
			height: auto;
			text-indent: 0;
			&:hover,&:active,&:focus{
				background: $hoverLink;
				@include transAll(.3s);
			}
			@include tab{
				padding: .72em 3em;
				width: 145px;
			}
			&:not(#edit-reset){
				margin-right: 10px;
			}
			&#edit-reset{
				background: $black;
				&:hover,&:focus,&:active{
					background: $hoverLink;
				}
			}
		}
	}//end form

	.layout-content{
		padding: 3em 20px 2em !important; 
		.site-search{
			@include safeFlex(row,wrap,null,null);
			h1{
				@include spacer(0);
				@include tab{
					color: $black;
				}
			}
			.search-leadin{
				width: 100%;
				@include spacer(1.5);
			}
			.block-search-form-block{
				width: 100%;
				text-align: left;
				display: block;
				width: 100%;
				.t-search{
					display: none;
				}
			}//end block search form

			.view-header{
				width: 100%;
				h2{
					margin-top: 1em;
					padding-bottom: .5em;
					border-bottom: 2px solid $green;
					margin-bottom: 2.5em;
				}
			}
			.view-content,.view-empty{
				width: 100%;
				margin-bottom: 3em;
				& > span{
					display: block;
				}
			}

			.views-row{
				position: relative;
				&:not(:last-child){
					padding-bottom: 1em;
					&:after{
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						left: 50%;
						@include translateX(-50%);
						height: 1px;
						@include calc(width, "100% - 260px");
						background: $borderRule;
					}
				}
				@include clearFix;
				.views-field-field-cover-image{
					float: left;
					max-width: 100px;
				}
				.views-field-title-1{
					margin-left: 130px;
					h4{
						font-size: 17px;
					}
				}
				.views-field-body{
					margin-left: 130px;
					p{
						margin-bottom: .5em;
					}
				}
			}

			.view-footer{
				@include pagerResults;
			}
			.bottom-pager{
				@include pagerNumbers;
			}

		}//site-search
	}//layout content

}//end search page


/* CORE SEARCH PAGE
---------------- */
.path-search{

	#search-form{
		@include spacer(2);
	}

	#edit-basic.container-inline{
		@include spacer(.5);
	}

	.form-search{
		@include textInput;
		max-width: 300px;
		margin-right: 2em;
	}

	.pager{
		border-top: 2px solid $green;
		padding-top: 1em;
	}
}//end core search



/* PATTERN LAB ONLY
------------------ */
.pl .search-header a{
	&:hover,&:focus{
		@include transAll(.3s);
	}
}



